<div class="header">
    <h2>Creat & GetALl in <span class="boot">Material UI</span></h2>

</div>
<div class="CRUD">

    <button routerLink="getall" mat-flat-button color="primary">GetALl</button>


    <!--^^^^^^^^^^^^^^^^^ -> getall componentiga otayotganda refresh bolmasligi uchun.
                             [routerLink] to'g'ri ishlashi uchun app.module.tsda
                             RouterModule import qilinishi kerak-->

    <button routerLink="create" mat-flat-button color="accent">Create</button>

</div>